n8n.json
{
  "name": "Complaint Automation",
  "nodes": [
    {
      "parameters": {
        "cronExpression": "0 * * * *"
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "={{$env.API_BASE_URL}}?status=open&from={{$now.minus(1, 'hour').toISO()}}",
        "method": "GET",
        "responseFormat": "json"
      },
      "name": "Get Complaints",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "batchSize": 1
      },
      "name": "SplitInBatches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"category\"]}}",
              "operation": "equal",
              "value2": "техническая"
            }
          ]
        }
      },
      "name": "Check Category",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "botToken": "={{$env.TELEGRAM_BOT_TOKEN}}",
        "chatId": "={{$env.TELEGRAM_CHAT_ID}}",
        "text": "⚠️ Техническая жалоба:\n{{$json[\"text\"]}}"
      },
      "name": "Telegram Notify",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "url": "={{$env.API_BASE_URL}}/{{$json[\"id\"]}}",
        "method": "PATCH",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\"status\":\"closed\"}"
      },
      "name": "Close Complaint (Tech)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "serviceAccountEmail": "={{$env.GOOGLE_SERVICE_EMAIL}}",
        "privateKey": "={{$env.GOOGLE_PRIVATE_KEY}}",
        "sheetId": "={{$env.GOOGLE_SHEET_ID}}",
        "range": "Complaints",
        "valueInputMode": "USER_ENTERED",
        "options": {},
        "columns": ["Дата", "Жалоба", "Тональность"],
        "values": [
          [
            "={{$now.format('YYYY-MM-DD HH:mm')}}",
            "={{$json['text']}}",
            "={{$json['sentiment'] || 'N/A'}}"
          ]
        ]
      },
      "name": "Add to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [1050, 400]
    },
    {
      "parameters": {
        "url": "={{$env.API_BASE_URL}}/{{$json[\"id\"]}}",
        "method": "PATCH",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\"status\":\"closed\"}"
      },
      "name": "Close Complaint (Payment)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [1250, 400]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Complaints",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Complaints": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitInBatches": {
      "main": [
        [
          {
            "node": "Check Category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Category": {
      "main": [
        [
          {
            "node": "Telegram Notify",
            "type": "main",
            "index": 0
          },
          {
            "node": "Close Complaint (Tech)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add to Sheets",
            "type": "main",
            "index": 0
          },
          {
            "node": "Close Complaint (Payment)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
